/*note: fix lai width cac frame khi vao du an that*/
.divTable .table1 .addbt {
    float: left;
    position: relative;
    z-index: 99;
    margin: 15px 0 0 5px;
}

.divTable .table1 {
    margin-bottom: 10px;
}

    .divTable .table1 table {
        width: 100%;
    }

    .divTable .table1.table2 {
        margin-right: 20px;
    }

    .divTable .table1.table3 {
        margin-left: 20px;
    }

    .divTable .table1 tr.tr1 {
        /*float: left;*/
        height: 60px;
    }

    .divTable .table1 tr td {
        /*float: left;*/
    }

.tbcheck tr td {
    float: left;
    width: 290px;
}
.divTable .table1 tr td.td1 {
    width: 100%;
    float: left;
}

.divTable .table1 tr.tr1 .Column {
    margin-bottom: 0;
    height: 18px;
}

    .divTable .table1 tr.tr1 .Column span {
        float: left;
        margin-left: 5px;
    }

    .divTable .table1 tr.tr1 .Column label {
        display: inherit;
        max-width: none;
        margin-bottom: 0;
        font-weight: normal;
        float: left;
    }

.tbcheck {
    float: left;
}

.ContactPrice .Column.ContactDescription.setmgtop {
    margin: 20px 0 50px 0 !important;
}
.contactPrice1 .Column.ContactDescription.setmgtop {
    margin:  0 !important;
}
.labelsColumn .Column {
    margin-bottom: 4px;
    width: 80px;
}
.contactBlock { 
    display: block;
    margin-bottom: 40px;
    padding-top: 30px;
    position: relative;
    width: 100%;
    padding-right: 0;
}

.contactForm .Column label {
    font-weight: normal;
}

.ContactPrice {
    padding: 0 0 20px 0;
    float: left;
    font-family: Arial;
}

    .ContactPrice .color2 {
        float: left;
        margin: 5px 0;
    }

.rbtext label {
    float: left;
    margin-left: 5px;
}

.rbtext input {
    float: left;
    margin-left: 5px;
}

.ContactPrice .titleYc {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffa200;
}

.contactBlock .caption {
    margin-bottom: 15px;
    position: relative;
    width: 13px;
}

.ContactPrice .divTable {
    margin-top: 20px;
    float: left;
    width: 100%;
}

    .ContactPrice .divTable table tr td.td2 {
        float: left;
        margin-left: 38px;
    }

.contactBlock .contactForm {
    float: right;
    position: relative;
    width: 100%;
}

.ContactPrice .contactBlock .contactForm {
    float: left;
    position: relative;
    width: 100%;
}

.contactBlock .labelsColumn {
    float: left;
    position: relative;
    width: 20%;
}

.ContactPrice .contactBlock .labelsColumn {
    margin-right: 10px;
    float: left;
    position: relative;
    width: 210px;
}

.contactBlock .labelsColumn label { 
    clear: both;
    color: #5e5e5e;
    display: block;
    float: left;
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-weight:bold;
    width:100% !important;
    font-size:13px;
}

.contactBlock .labelsColumn .column:first-child label {
    margin-top: 10px;
}

.title_label {
  
}

.ContactPrice .contactBlock .labelsColumn label {
    clear: both;
    color: #5e5e5e;
    display: block;
    float: right;
    height: 26px;
    line-height: 18px;
    margin-top: 10px;
}
.textboxMultiline.txtDesc {
    -moz-border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 80px;
    margin-top: 10px;
    padding: 0 5px;
    width: 240px;
}

.contactBlock .labelsColumn span {
   padding-left:3%;
}


.contactBlock .textBoxsColumn {
    float: left;
    position: relative;
    text-align: right;
    width: 80%;
}
@media screen and (max-width:480px){
    .contactBlock .labelsColumn {display:none !important;}
    .contactBlock .textBoxsColumn {width:100% !important;}
}
.contactBlock .textBoxsColumn  input{
    -moz-border-radius: 5px;
    background: #e9e9e9 !important;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 30px;
    line-height:30px;
    margin-top: 10px;
    padding: 0 5px;
    width: 100%;
}

 .contactBlock .textBoxsColumn  input::-webkit-input-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  input::-moz-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  input:-ms-input-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  input:-moz-placeholder { color:#5e5e5e !important; }

  .contactBlock .textBoxsColumn  textarea::-webkit-input-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  textarea::-moz-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  textarea:-ms-input-placeholder { color:#5e5e5e !important; }
 .contactBlock .textBoxsColumn  textarea:-moz-placeholder { color:#5e5e5e !important; }
 @media screen and (min-width:481px){
     
      .contactBlock  input::-webkit-input-placeholder { color:transparent;opacity: 0; }
      .contactBlock  input:-moz-placeholder { color:transparent; opacity: 0;} /* FF 4-18 */
      .contactBlock   input::-moz-placeholder { color:transparent; opacity: 0;} /* FF 19+ */
      .contactBlock input:-ms-input-placeholder { color:transparent;opacity: 0; } /* IE 10+ */

       .contactBlock  textarea::-webkit-input-placeholder { color:transparent;opacity: 0; }
      .contactBlock  textarea:-moz-placeholder { color:transparent;opacity: 0; } /* FF 4-18 */
      .contactBlock   textarea::-moz-placeholder { color:transparent; opacity: 0;} /* FF 19+ */
      .contactBlock textarea:-ms-input-placeholder { color:transparent;opacity: 0; } /* IE 10+ */
        .contactBlock textarea::-webkit-input-placeholder {
            opacity: 0;
        }
 }

.td1 .Column.color label {
    width: 58px;
    float: left;
    margin-right: 32px;
}

.td1 .pick-a-color {
    -moz-border-radius: 5px;
    background: #e9e9e9 !important;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 28px;
    margin-top: 0px;
    margin-right: 20px;
    padding: 0 5px;
    width: 49px !important;
}


.contactBlock .table1 .textbox {
    width: 100%;
    height: 30px;
    font: 13px/18px arial;
    margin-top: 3px;
    margin-bottom: 10px;
}

.contactBlock .table1 .textboxMultiline.txtDesc {
    width: 100%;
    font: 13px/18px arial;
    margin-top: 3px;
    margin-bottom: 10px;
}

.contactBlock .textbox.txtRivals {
    -moz-border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 32px;
    margin-top: 10px;
    padding: 0 5px;
    width: 240px;
}

.contactBlock .ddlbox {
    -moz-border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    width: 100%;
}

.input-group {
    width: 253px !important;
    float: left;
    margin-right: 10px;
}

.ContactPrice .contactBlock .textBoxsColumn .textbox {
    -moz-border-radius: 5px;
    margin-bottom: 8px;
    background: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left; font: 13px/18px arial;
    font: 13px/18px arial;
    height: 24px;
    margin-top: 10px;
    padding: 0 5px;
    width: 240px;
}

.ContactPrice .textbox2 {
    -moz-border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 13px/18px arial;
    height: 28px;
    padding: 0 0 0 5px;
    width: 100%;
}

.ContactPrice span.xam {
    color: #5E5E5E;
    float: left;
    min-width: 110px;
    font-weight: bold;
}
.contactPrice1 span.xam {
    float: none;
  
}
    .ContactPrice span.xam.xam1 {
        font-weight: normal;
    }

.contactBlock .validator {
    display: block;
    float: left;
    height: 15px;
    padding-top: 8px;
    width: 15px;
}

.contactBlock .textBoxsColumn .textboxMultiline {
    -moz-border-radius: 5px;
    background-color: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 12px/18px arial;
    height: 96px;
    margin: 10px 0 27px 0;
    padding: 0 5px;
    width: 100%;
}


.ContactPrice .contactBlock .textBoxsColumn .textboxMultiline {
    -moz-border-radius: 5px;
    background-color: #e9e9e9;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #5e5e5e;
    float: left;
    font: 12px/18px arial;
    height: 96px;
    margin: 10px 0 0 0;
    padding: 0 5px;
    width: 240px;
}

.contactBlock .infoBlock {
    float: left;
    position: relative;
    width: 100%;
}

.ContactPrice .contactBlock .infoBlock {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

.contactBlock .infoBlock .companyName {
    margin-bottom: 15px;
    margin-top: 10px;
}
@media screen and (max-width:767px){
    .contactBlock .infoBlock .companyName{margin-top:20px;}
}

.contactBlock .infoBlock .map {
    background: url(img/bg_map.png) no-repeat 0 0;
    height: 178px;
    margin-top: 10px;
    position: relative;
    width: 330px;
}

.ContactPrice .contactBlock .infoBlock .map {
    background: url(img/bg_map.png) no-repeat 0 0;
    height: 178px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    background-position: top center;
}

.contactBlock .infoBlock .infoItem {
    color: #5e5e5e;
    line-height: 18px;
    text-align: left;
}

.ContactPrice .contactBlock .infoBlock .infoItem {
    color: #5e5e5e;
    line-height: 18px;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size:13px;
    font-family:Arial;
}
 .contactBlock .infoBlock .infoItem a, .contactBlock .infoBlock .infoItem a:hover{cursor:pointer; color: #5e5e5e;}
 .contactBlock .infoBlock .infoItem .address,  .contactBlock .infoBlock .infoItem .tel,
 .contactBlock .infoBlock .infoItem .email,  .contactBlock .infoBlock .infoItem .map {
        font-size: 13px;
        font-family: Arial;
        line-height: 22.5px;
    }

.contactBlock .sendBlock {
    float: right;
    height: 63px;
    position: relative;
    width: 270px;
}

.ContactPrice .contactBlock .sendBlock {
    float: right;
    height: 63px;
    position: relative;
    width: 290px;
    margin: 30px 195px 0 0;
}

* + html .contactBlock .sendBlock {
    margin-top: 20px;
}

.ContactPrice .sendBlock.sendBlock_bg {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.contactBlock .captraBlock img {
    float: left;
    height: 30px !important;
    width: 55px !important;
}

.contactBlock .captraBlock .rcRefreshImage {
    background: url(img/newimage.png) no-repeat left center;
    color: #347fb5;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 15px;
}

.contactBlock .captraBlock p {
    clear: both;
    float: left;
    margin-top: 8px;
}

    .contactBlock .captraBlock p input {
        border: 1px solid #c6c6c6;
        height: 20px;
        padding: 0 5px;
        width: 118px;
    }

    .contactBlock .captraBlock p .last {
        color: #aaaaaa;
        font-style: italic;
    }

    .contactBlock .captraBlock p label {
        color: #fff;
        font-size: 0;
    }

.contactBlock .contactForm .sendBtn {
    height: 62px;
    position: absolute;
    right: 0;
    top: 0;
    width: 113px;
}

.contactBlock.contactPrice1 {
    padding-top: 0;
}

.Column.color label {
    font-weight: normal;
}

.td1 .Column.color label {
    width: 30%;
}

.table3 .color1 {
    float: left;
}

.td1 .pick-a-color {
    margin-right: 40px;
}

    .td1 .pick-a-color#txtColor3 {
        margin-right: 0;
    }

#txtColor, #txtColor2, #txtColor3 {
    width: 80% !important;
    height: 30px;
    margin-top: 3px;
    display: inline-block;
    padding-left: 5px !important;
}

.checkbox_gr table {
    width: 100%;
}

    .checkbox_gr table input[type='checkbox'] {
        float: left;
        margin-right: 7px;
    }

/*.checkbox_gr1 {
    padding-right: 15px;
}*/

/*.checkbox_gr2 {
    padding-left: 20px;
}*/

@media screen and (max-width: 1024px) {
    .contactBlock .textBoxsColumn {
        width: 274px;
    }

    .contactBlock .sendBlock {
        width: 270px;
    }
}

@media screen and (max-width: 990px) {
}

@media screen and (max-width: 800px) {
    .contactBlock .textBoxsColumn {
        width: 85%;
    }

    .contactBlock .sendBlock {
        width: 270px;
        margin-right: 10px;
    }

    .contactBlock {
        padding-left: 15px;
    }

        .contactBlock.contactPrice1 {
            padding-left: 0px;
            padding-right: 0px;
        }
}

@media screen and (max-width: 768px) {
    /*.contactBlock.contactPrice1 {
        padding-left: 10px;
        padding-right: 10px;
    }*/
}

@media screen and (max-width: 600px) {
     .ContactPrice {
        width: 100%;       
        float: left;
        margin-top: 32px;
    }

    .contactBlock {
        padding-top: 0;
        padding-left: 20px;
    }

    .contactForm {
        /*margin-top: -150px !important;*/
        float: left !important;
    }

    .ContactPrice .contactBlock .infoBlock {
        min-height: 260px;
    }

    .contactBlock.contactPrice1 {
        /*padding-left: 10px;
        padding-right: 10px;*/
    }

    .divTable .table1.table2 {
        width: 100%;
    }

    .divTable .table1.table3 {
        margin-left: 0;
    }

    /*.checkbox_gr1 {
        padding-right: 0;
    }

    .checkbox_gr2 {
        padding-left: 0;
    }*/

    .contactBlock .contactForm {
        width: 100%;
    }

    .contactBlock .textBoxsColumn {
        width: 468px;
    }

    .contactBlock .sendBlock {
        width: 270px;
    }

    .contactBlock .textbox {
        width: 100%;
    }

    .contactBlock .textBoxsColumn .textboxMultiline {
        width: 100%;
    }

    .contactBlock .sendBlock {
        width: 270px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 568px) {
    .contactBlock .textBoxsColumn {
        width: 436px;
    }

    .contactBlock .sendBlock {
        width: 270px;
    }
    .ContactPrice {
        width: 100%;       
        float: left;
        margin-top: 32px;
    }

}

@media screen and (max-width:767px){
      .ContactPrice {
        font-size:15px;
    }

    .ContactPrice .infoBlock .infoItem .address, .ContactPrice .infoBlock .infoItem .tel, .ContactPrice .infoBlock .infoItem .email, .ContactPrice .infoBlock .infoItem .map{font-size:15px !important;}
}
@media screen and (max-width: 480px) {
    .ContactPrice {
        width: 100%;       
        float: left;
        margin-top: 32px;
        font-size:15px;
    }
    .ContactPrice .infoBlock .infoItem .address, .ContactPrice .infoBlock .infoItem .tel, .ContactPrice .infoBlock .infoItem .email, .ContactPrice .infoBlock .infoItem .map{font-size:15px !important;}
    .contactBlock {
        padding: 0;
    }
   .contactBlock .sendBlock {
            margin-right: 8px;
    }
    .ContactPrice .contactBlock .infoBlock {
        min-height: 60px;
        float: left;
    }
   .ContactPrice .contactBlock .infoBlock .infoItem {
            margin-bottom: 10px;
            margin-top: 20px;
   }
    .ContactPrice .contactBlock .contactForm {
        float: left;
        margin-top: 0 !important;
    }
     .contactBlock.contactPrice1 {
        float: left;
    }

    .ContactPrice .divTable {
        width: 100%;
        margin-left: 0;
    }

    .divTable .table1.table2, .divTable .table1.table3 {
        width: 100%;
        margin: 0;
    }

    .divTable .table1 tr.tr1 {
        height: auto;
        padding-bottom: 10px;
        width: 100%;
    }

    .divTable .table1 tr td.td1, .divTable .table1.table3 tr td.td1 {
        width: 100%;
    }

    .contactBlock .textbox {
        width: 100%;
    }

    .textboxMultiline.txtDesc {
        width: 100%;
    }

    .contactBlock .ddlbox {
        width: 100%;
    }

    .td1 .Column.color label {
        width: 33%;
        margin-right: 0;
    }

    .table3 .color1 {
        float: left;
        width: 100%;
    }

    .ContactPrice .divTable table tr td.td2 {
        margin-left: 0;
    }

    .ContactPrice .contactBlock .sendBlock {
        width: 100%;
        margin-right: 0;
        float: left;
    }

    .contactBlock .textBoxsColumn {
        width: 378px;
    }
}

@media screen and (max-width: 414px) {
    .contactBlock .textBoxsColumn {
        width: 386px;
    }
}

@media screen and (max-width: 375px) {
    .contactBlock .textBoxsColumn {
        width: 272px;
    }

    .contactBlock .sendBlock {
        width: 270px;
    }
}

@media screen and (max-width: 320px) {
     .contactBlock.contactPrice1 {
         padding-right: 0;
         padding-left: 0 !important;
    }
    .contactBlock .textBoxsColumn {
        width: 218px;
    }

    .contactBlock .sendBlock {
        width: 270px;
        margin-left: 0px;
        margin-right: 0;
    }

    .contactBlock {
        padding-left: 5px !important;
    }

        .contactBlock .textbox {
            width: 215px;
        }

    .ContactPrice .contactBlock .sendBlock {
        width: 100%;
        margin-right: 0;
        float: left;
    }

    .contactBlock .textbox {
        width: 100%;
    }
}

.mapBlock iframe{width:100% !important; height:350px !important;}
.RadInput_Error_Default{display:inline-block !important; visibility:visible !important; color:red !important;}
.mapgg1{margin-bottom:40px;}

#firstHeading{color:#5e5e5e !important;}
