.porfolioListBlock .list .item .responsive {
    width: 95px;
    height: 58px;
    background: url(img/responsive-badge.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 90;
}

.porfolioListBlock .list .item .parallax {
    width: 95px;
    height: 58px;
    background: url(img/parallax-badge.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 90;
}

.porfolioListBlock .list .item .mobile {
    width: 95px;
    height: 58px;
    background: url(img/mobile-badge.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 90;
}

.porfolioListBlock .list .item .landing {
    width: 95px;
    height: 58px;
    background: url(img/landingpage-badge.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 90;
}

.porfolioListBlock .list .item .imenu {
    width: 95px;
    height: 58px;
    background: url(img/iMenu-badge.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 90;
}

.detail_left .like_box {
    display: none !important;
}

.like_box {
    /*width: 178px;*/
    height: 30px;
    /*display: none;*/
    /*position: absolute;
        left: 318px; top: 59px;
        z-index: 999; width:380px;display: none;*/
    width: 175px;
    margin-top: 30px;
}

.like_box iframe {
    width: 100px;
    float: left;
}

.profolioDetail .detail_right:hover .like_box {
    display: block;
}

.profolioDetail .detail_right .btlinklike .btDetail {
    display: none;
}

.like_box .like_local {
    width: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
    height: 26px;
    line-height: 26px;
    background: #f1f1f1 url(img/like.png) no-repeat 5px center;
    padding-left: 20px;
    border: 1px solid #d8d8d8;
}

.like_box .share_fb {
    float: left;
}

.like_box .share_fb a {
    width: 64px;
    margin: -3px 3px 0 0;
    float: left;
    line-height: 26px;
    height: 26px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0;
    background: url(img/share_facebook.png) no-repeat 5px center;
    padding-left: 17px;
    padding-right: 2px;
}

.item:hover .like_box {
    display: block;
}

.profolio_left {
    float: left;
    width: 248px;
}

.page-wr .page-left {
    height: 100%;
}

/*-----tree content-----*/

.contentheader .checkall {
    left: 10px;
    position: absolute;
    top: 5px;
}

.contentheader .checkall input {
    cursor: pointer;
}

.page-wr .page-right .contentheader .all {
    padding-left: 35px;
    text-align: left;
    color: #fff;
    font-size: 12px;
}

.tree-content {
    -moz-border-radius: 0 0 5px 5px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 5px 5px;
    float: left;
}

.tree-content .item {
    border-bottom: 1px solid #efefef;
    height: auto;
    /*min-height: ;*/
    padding: 10px 10px 5px 10px;
    /*position: relative;*/
    width: 228px;
}

.tree-content .item input {
    cursor: pointer;
    float: left;
}

.tree-content .item label {
    cursor: pointer;
    float: left;
    padding-left: 5px;
}

.tree-content .item span {
    color: #555;
    display: inline-block;
    height: 23px;
    width: 226px;
}

.tree-content .item .active {
    color: #FF9C00;
    font-weight: bold;
}

.tree-content .item84 span {
    background: url(icon/icon1.png) no-repeat right 0;
}

.tree-content .item84 .active {
    background: url(icon/icon1.png) no-repeat right -33px;
}

.tree-content .item192 span {
    background: url("icon/icon_crm.png") no-repeat scroll right -3px transparent;
}

.tree-content .item192 .active {
    background: url(icon/icon_crm.png) no-repeat right -33px;
}

.tree-content .item85 span {
    background: url(icon/icon2.png) no-repeat right 0;
}

.tree-content .item196 .active {
    background: url(icon/iconmobile.png) no-repeat right -33px;
}

.tree-content .item196 span {
    background: url(icon/iconmobile.png) no-repeat right 0;
}

.tree-content .item209 .active {
    background: url(icon/icon_Flat.png) no-repeat right -37px;
}

.tree-content .item209 span {
    background: url(icon/icon_Flat.png) no-repeat right 0;
}

.tree-content .item85 .active {
    background: url(icon/icon2.png) no-repeat right -33px;
}

.tree-content .item86 span {
    background: url(icon/icon3.png) no-repeat right 0;
    width: 230px;
}

.tree-content .item86 .active {
    background: url(icon/icon3.png) no-repeat right -33px;
}

.tree-content .item87 span {
    background: url(icon/icon4.png) no-repeat right -4px;
}

.tree-content .item87 .active {
    background: url(icon/icon4.png) no-repeat right -36px;
}

.tree-content .item88 span {
    background: url(icon/icon5.png) no-repeat right -1px;
}

.tree-content .item88 .active {
    background: url(icon/icon5.png) no-repeat right -33px;
}

.tree-content .item194 span {
    background: url(icon/iconkid.PNG) no-repeat right -1px;
}

.tree-content .item194 .active {
    background: url(icon/iconkid.PNG) no-repeat right -33px;
}

.tree-content .item195 span {
    background: url(icon/iconceramics.png) no-repeat right -1px;
}

.tree-content .item195 .active {
    background: url(icon/iconceramics.png) no-repeat right -33px;
}

.tree-content .item202 span {
    background: url(icon/icon_responsive.png) no-repeat right 0;
}

.tree-content .item202 .active {
    background: url(icon/icon_responsive.png) no-repeat right -37px;
}

.tree-content .item203 span {
    background: url(icon/icon_Scrolling.png) no-repeat right 0;
}

.tree-content .item203 .active {
    background: url(icon/icon_Scrolling.png) no-repeat right -37px;
}

.tree-content .item89 span {
    background: url(icon/icon6.png) no-repeat right 0;
}

.tree-content .item89 .active {
    background: url(icon/icon6.png) no-repeat right -31px;
}

.tree-content .item90 span {
    background: url(icon/icon7.png) no-repeat right 0;
}

.tree-content .item90 .active {
    background: url(icon/icon7.png) no-repeat right -31px;
}

.tree-content .item91 span {
    background: url(icon/icon8.png) no-repeat right 0;
}

.tree-content .item91 .active {
    background: url(icon/icon8.png) no-repeat right -32px;
}

.tree-content .item92 span {
    background: url(icon/icon9.png) no-repeat right 0;
}

.tree-content .item92 .active {
    background: url(icon/icon9.png) no-repeat right -30px;
}

.tree-content .item93 span {
    background: url(icon/icon10.png) no-repeat right 0;
}

.tree-content .item93 .active {
    background: url(icon/icon10.png) no-repeat right -30px;
}

.tree-content .item94 span {
    background: url(icon/house.jpg) no-repeat right -1px;
}

.tree-content .item94 .active {
    background: url(icon/house.jpg) no-repeat right -38px;
}

.tree-content .item95 span {
    background: url(icon/icon12.png) no-repeat right -2px;
}

.tree-content .item95 .active {
    background: url(icon/icon12.png) no-repeat right -31px;
}

.tree-content .item176 span {
    background: url(icon/media.png) no-repeat right 0;
}

.tree-content .item176 .active {
    background: url(icon/media.png) no-repeat right -32px;
}

.tree-content .item177 span {
    background: url(icon/spa.png) no-repeat right -2px;
}

.tree-content .item177 .active {
    background: url(icon/spa.png) no-repeat right -34px;
}

.tree-content .item184 span {
    background: url(icon/icon14.png) no-repeat right 0;
}

.tree-content .item184 .active {
    background: url(icon/icon14.png) no-repeat right -25px;
}

.tree-content .item187 span {
    background: url(icon/icon11.png) no-repeat right -1px;
}

.tree-content .item187 .active {
    background: url(icon/icon11.png) no-repeat right -30px;
}

.tree-content .item193 .active {
    background: url(icon/icon_inter.png) no-repeat right -35px;
}

.tree-content .item193 span {
    background: url(icon/icon_inter.png) no-repeat right -4px;
}

.tree-content .item #cbox {
    cursor: pointer;
}

.colorBlock {
    position: absolute;
    right: 0;
    top: -10px;
}

.colorBlock .huyloc {
    background: url(img/delete.gif) no-repeat 0 6px;
    color: #CC0000;
    font-weight: bold;
    float: left;
    height: 21px;
    line-height: 21px;
    padding-left: 15px;
}

.colorBlock .cap {
    color: #f09108;
    font-weight: bold;
    float: left;
    height: 21px;
    line-height: 21px;
    padding-right: 10px;
}

.colorBlock .item {
    color: #e2e2e2;
    float: left;
    font-size: 0;
    height: 21px;
    margin-right: 3px;
    width: 21px;
}

.colorBlock .item input {
    -moz-opacity: 0;
    border: none;
    width: 18px;
    height: 22px;
    cursor: pointer;
    opacity: 0;
}

.colorBlock .item114 {
    background: url(icon/color1.png) no-repeat 0 0;
}

.colorBlock .item115 {
    background: url(icon/color2.png) no-repeat 0 0;
}

.colorBlock .item116 {
    background: url(icon/color3.png) no-repeat 0 0;
}

.colorBlock .item117 {
    background: url(icon/color4.png) no-repeat 0 0;
}

.colorBlock .item118 {
    background: url(icon/color5.png) no-repeat 0 0;
}

.colorBlock .item119 {
    background: url(icon/color6.png) no-repeat 0 0;
}

.colorBlock .item120 {
    background: url(icon/color7.png) no-repeat 0 0;
}

/*local host 178*/

.colorBlock .item185 {
    background: url(icon/color8.png) no-repeat 0 0;
}

.colorBlock .item .active {
    background: url(icon/tick.gif) no-repeat 5px 5px;
    display: block;
    float: left;
    margin: 13px 0 0 15px;
}

.colorBlock .item label {
    display: none;
}

/*-----porfolio list-----*/

/*.page-left.page100pt .porfolioListBlock {
    float: left;
    min-height: 910px;
    padding: 30px 0 20px 15px ;
    width: 985px;
    background: url(img/loading.gif) no-repeat;
    background-position: top center;
}*/
.page-left.page100pt .porfolioListBlock .list {
    width: 100%;
    float: left;
    background: #fff;
}

@media (min-width: 768px) and (max-width: 992px) {
    /* Column clear fix */
    .list .col-sm-1:nth-child(12n+1),
    .list .col-sm-2:nth-child(6n+1),
    .list .col-sm-3:nth-child(4n+1),
    .list .col-sm-4:nth-child(3n+1),
    .list .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

/*Large Desktop*/
@media (min-width: 993px) {
    .list .col-md-1:nth-child(12n+1),
    .list .col-md-2:nth-child(6n+1),
    .list .col-md-3:nth-child(4n+1),
    .list .col-md-4:nth-child(3n+1),
    .list .col-md-6:nth-child(2n+1),
    .list .col-lg-1:nth-child(12n+1),
    .list .col-lg-2:nth-child(6n+1),
    .list .col-lg-3:nth-child(4n+1),
    .list .col-lg-4:nth-child(3n+1),
    .list .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (max-width: 767px) {
    .list .col-xs-1:nth-child(12n+1),
    .list .col-xs-2:nth-child(6n+1),
    .list .col-xs-3:nth-child(4n+1),
    .list .col-xs-4:nth-child(3n+1),
    .list .col-xs-6:nth-child(2n+1) {
        clear: left;
    }
}

.page-left.page100pt .porfolioListBlock .item {
    float: left;
    height: 290px;
    padding-bottom: 22px;
}

.page-left.page100pt .porfolioListBlock .list .imageLoadding {
    width: 100%;
    height: 50px;
    float: left;
    background: url(img/loading.gif) no-repeat center center;
}

.page-left.page100pt .porfolioListBlock .item.right {
    margin: 0;
}

.page-left.page100pt .porfolioListBlock .item .image {
    background: url(img/bg_item.jpg) no-repeat;
    font-size: 0;
    height: 215px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.page-left.page100pt .porfolioListBlock .item .image .bggif {
    background: url(img/loading.gif) no-repeat center center;
    width: 100%;
    height: 215px;
    float: left;
    position: relative;
    z-index: 10;
}

.page-left.page100pt .porfolioListBlock .item .image a {
    display: block !important;
    position: relative;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
}

.page-left.page100pt .porfolioListBlock .item .image img {
    max-height: 215px;
    max-width: 100%;
}

.page-left.page100pt .porfolioListBlock .item .description {
    color: #5e5e5e;
    height: 54px;
    overflow: hidden;
    padding-left: 5px;
}

.page-left.page100pt .porfolioListBlock .item .title a {
    color: #555;
    font-weight: bold;
}

.page-left.page100pt .porfolioListBlock .item .title b {
    color: #f6ae00;
}

.page-left.page100pt .porfolioListBlock .pager {
    float: left;
    height: 22px;
    text-align: right;
    width: 480px;
}

.page-left.page100pt .porfolioListBlock .pager a {
    border: 1px solid #fff;
    color: #767676;
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 18px;
}

.page-left.page100pt .porfolioListBlock .pager .select {
    background: none;
    border: 1px solid #ffaf00;
    color: #767676;
    font-weight: normal;
    padding: 0;
}

.page-left.page100pt .porfolioListBlock .numberpager {
    color: #4d4d4d;
    float: right;
    height: 22px;
    line-height: 22px;
    width: 170px;
    margin-right: 20px;
}

.page-left.page100pt .porfolioListBlock .numberpager span {
    padding-right: 10px;
}

.page-left.page100pt .porfolioListBlock .numberpager select {
    height: 22px;
    text-align: left;
    width: 50px;
}

.page-left.page100pt .porfolioListBlock .line {
    margin-bottom: 15px;
    width: 100% !important;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 {
    background: url(img/detail2.png) repeat;
    display: none;
    height: 215px;
    left: 0;
    position: absolute;
    top: 0;
    width: 215px;
    overflow: hidden;
    text-indent: -9999px;
}

.page-left.page100pt .porfolioListBlock .item .image:hover .zoomOver1 {
    display: block;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView:hover {
    background: url(icon/bc_iconView_act.png) no-repeat;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconLink:hover {
    background: url(icon/bc_iconLink_act.png) no-repeat right center;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .line {
    height: 80px;
    width: 1px !important;
    background: url(icon/bc_bglinewhite.jpg) no-repeat bottom center;
    position: absolute;
    top: 30px;
    left: 110px;
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1:hover .line {
    -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: height 0.3s;
    height: 105px;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1:hover .iconView {
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
    width: 55px;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1:hover .iconLink {
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
    width: 60px;
}

@media screen and (max-width: 767px) {
    .page-left.page100pt .porfolioListBlock .item .image .zoomOver1 {
        background: none !important;
        display: block !important;
    }

    .page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView {
    }

    .page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView {
        margin: 0 !important;
        background: url('icon/bc_iconView_act.png') no-repeat left 3px top 3px !important;
    }

    .page-left.page100pt .porfolioListBlock .item .image img.loop {
        display: none !important;
    }

    .page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView {
        width: 100% !important;
        height: 100% !important;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute !important;
    }
}

.tabs .bttabs {
    background: none;
    border: none;
}

.tabs {
    float: left;
    list-style: none;
    position: relative;
    margin-left: 20px;
    line-height: 34px;
}

.tabs a, .tabs .bttabs {
    font-size: 14px;
    text-transform: uppercase;
    color: #686868;
    font-weight: bold;
    background: url(img/bullet_Cap.png) no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin-right: 45px;
}

.tabs a.active, .tabs .bttabs.active {
    color: #ff9000;
}

.tabs_container {
    border: 1px solid #d8d8d8;
    padding: 13px 5px 20px 15px;
    float: left;
    margin: 2px 0 0 15px;
}

.tabs_container.tabs1 .tabs_content .item {
    float: left;
    width: 234px;
    margin: 0 5px 10px 0;
}

.tabs_container.tabs4 .tabs_content .item {
    float: left;
    width: 194px;
    margin: 0 5px 10px 0;
}

.tabs_container .tabs_content .item input {
    float: left;
}

.tabs_container .tabs_content .item a {
    cursor: pointer !important;
    float: left;
    color: #333;
}

.tabs_container .tabs_content .item:hover a {
    cursor: pointer;
    color: #ff9000;
}

.tabs_container .tabs_content .item input:hover, .tabs_container .tabs_content .item a:hover, .tabs_container .tabs_content .item .active {
    cursor: pointer;
    color: #ff9000;

}

.tabs_container .tabs_content.colorBlock {
    position: relative;
}

.tabs_container .tabs_content.colorBlock .item {
    width: 18px;
    height: 22px;
}

.tabs_container .tabs_content .item span input {
    float: left;
    margin: 2px 5px 0 0;
}

.tabs_container .tabs_content#tabs3_1 {
    width: 100%;
    float: left;
}

.tabs_container .tabs_content#tabs3_1 .tabcolor {
    float: left;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 2px 10px 5px #e7e7e7;
    -webkit-box-shadow: 2px 10px 5px #e7e7e7;
    box-shadow: 2px 10px 5px #e7e7e7;
    padding: 5px 0 6px 7px;
}

/*-----------porfolio detail--------*/

.profolioDetail {
    display: inline-block;
    height: 530px /**512px**/;
    height: auto;
    min-height: 512px;
    padding: 10px 10px;
    vertical-align: middle;
    width: 890px;
}

.profolioDetail .detail_left {
    float: left;
    width: 170px;
    min-height: 100px;
}

.profolioDetail .detail_left .list {
    float: left;
    min-height: 100px;
    width: 171px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 555px;
}

.profolioDetail .detail_left .list::-webkit-scrollbar {
    width: 8px;
}

.profolioDetail .detail_left .list::-webkit-scrollbar-track {
    background-color: #efefef;
    border-left: 1px solid #efefef;
}

.profolioDetail .detail_left .list::-webkit-scrollbar-thumb {
    background-color: #ff6d00;
}

.profolioDetail .detail_left .list::-webkit-scrollbar-thumb:hover {
    background-color: #ff6d00;

}

.profolioDetail .detail_left .item {
    float: left;
    height: 127px;
    margin-top: 20px;
    width: 153px;
    overflow: hidden;
    border: 1px solid #ccc !important;
}

.profolioDetail .detail_left .item a {
    cursor: pointer !important;
    display: table-cell;
    height: 160px;
    text-align: center;
    vertical-align: middle;
    width: 152px;
    border: none;
    overflow: hidden;
}

.profolioDetail .detail_left .item a img {
    height: auto !important;
    width: 151px;
    overflow: hidden;
}

.profolioDetail .detail_left .item .opacity img {
    -moz-opacity: 1;
    filter: alpha(opacity=1);
    filter: alpha(opacity=1);
    filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
}

.profolioDetail .detail_left .description {
    clear: both;
    color: #7f7f7f;
    max-height: 110px;
    overflow: hidden;
    text-align: justify;
    width: 252px;
}

.profolioDetail .detail_left .viewweb {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 20px;
    width: 251px;
}

.profolioDetail .detail_left .viewweb a.btDetail {
    -moz-text-shadow: 1px 1px #ab6900;
    -webkit-text-shadow: 1px 1px #ab6900;
    background: url("img/btn_viewweb.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 100%;
    line-height: 40px;
    padding-left: 80px;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px #ab6900;
}

.profolioDetail .detail_right {
    border: 1px solid #ccc;
    display: block;
    float: left;
    height: auto;
    margin-left: 10px;
    min-height: 235px;
    vertical-align: middle;
    width: 500px;
    box-shadow: 2px 4px 10px #dadada;
    -webkit-box-shadow: 2px 4px 10px #dadada;
    -moz-box-shadow: 2px 4px 10px #dadada;
    -o-box-shadow: 2px 4px 10px #dadada;
    overflow: hidden;
    height: 538px;
    position: relative;
    cursor: pointer;
}

.profolioDetail .detail_right img {
    display: inline-block;
    height: auto;
    width: 498px;
    vertical-align: middle;
}

.profolioDetail .detail_right span {
    display: inline-block;
    height: 100%;
    margin-left: -5px;
    min-height: 242px;
    vertical-align: middle;
    width: 1px;
}

.profolioDetail .detail_right a {
    cursor: pointer !important;
}

.detail_right1 {
    float: left;
    width: 175px;
    margin-left: 15px;
    min-height: 450px;
    position: relative;
}

.phimtat {
    width: 100%;
    height: 130px;
    background: url(img/phimtat_project.jpg) no-repeat left top;
    position: absolute;
    bottom: 6px;
    left: 0;
}

.profolioDetail .title {
    color: #a5a5a5;
    font-size: 22px;
    height: auto;
    line-height: 25px;
    text-align: left;
    width: 270px;
}

.profolioDetail .title b {
    color: #f6ae00;
    font-weight: normal;
}

.requiry {
    text-align: left;
}

.porfolioBackground {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100% !important;
    z-index: 9999999999;
}

.porfolioBound {
    display: inline-block;
    height: 548px;
    position: relative;
    width: 890px;
    z-index: 10001;
}

.porfolioContent {
    width: 890px;
}

.detail_top {
    height: 39px;
    border-bottom: 1px solid #aaaaaa;
    background: #e6e6e6;
    width: 100%;
    float: left;
}

.detail_top_left {
    width: 177px;
    float: left;
    height: 100%;
    background: url(img/close_projectdetail.jpg) no-repeat left top;
    position: relative;
}

.detail_top_right {
    width: 711px;
    float: left;
    height: 100%;
    background: url(img/url_projectdetail.jpg) no-repeat left top;
    line-height: 39px;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}

.profolioDetail {
    background: #fff;
    position: relative;
}

.porfolioBound .porfolioContent {
    padding-bottom: 15px;
}

.wraptocenter {
    display: inline-block;
    vertical-align: middle;
}

.porfolioBackground.wraptocenter {
    display: block;
    display: none;
}

.span.wraptocenter {
    height: auto;
    width: 1px;
}

.div.wraptocenter {
    height: auto;
    position: relative;
}

.porfolioNavigator {
    display: block;
    filter: alpha(opacity=70);
    height: 50px;
    opacity: .7;
    position: absolute;
    top: 49%;
    width: 50px;
}

.porfolioNavigator:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.porfolioNavigator.left {
    background: url(img/arr_left.png) no-repeat;
    left: -70px;
}

.porfolioNavigator.right {
    background: url(img/arr_right.png) no-repeat;
    right: -70px;
}

.detail_top_left a.btnClose {
    color: #7f7f7f;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 65px;
}

@media screen and (max-width: 767px) {
    .detail_top_left a.btnClose {
        width: 44px !important;
    }

    .detail_top_left .btn-ic-pc {
        left: 57px !important;
    }

    .detail_top_left .btn-ic-mobile {
        right: 0px !important;
    }
}

.profolioDetail .tabBlock {
    position: absolute;
    right: 110px;
    top: 9px;
}

.porfolioDetail .imagearr {
    width: 170px;
}

.porfolioDetail .imagearr a.select {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.pbackground {
    background: url(img/blackop80.png) repeat transparent;
    display: none;
    bottom: 0px;
    right: 0px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 999999999;
}

/* Update Css 12/2015 */
.item_wr {
    padding-top: 3px;
    margin-bottom: 50px;
    position: relative;
}

.item_wr .tenduan {
    display: block;
    width: 100%;
    float: left;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    margin-top: 20px;

}

@media screen and (min-width: 1200px) {
    .item_wr .tenduan {
        padding-right: 15px;
    }
}

.page-left.page100pt .porfolioListBlock .item {
    float: left;
    height: 252px;
    width: 100%;
    border: 1px solid #cecece;
}

.page-left.page100pt .porfolioListBlock .item .image {
    background: none;
    padding: 0;
    height: 250px;
}

.page-left.page100pt .porfolioListBlock .item .image .bggif {
    height: 250px;
}

.page-left.page100pt .porfolioListBlock .item .image .bggif img {

    height: auto;
    max-height: 250px;
    max-width: none;
}

.page-left.page100pt .porfolioListBlock .item .image .bggif img.img-responsive {
    width: 100% !important;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 {
    width: 100%;
    height: 100%;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView {
    width: 100% !important;
    height: 100% !important;
    display: block;
    background: none;
    position: relative;
}

.page-left.page100pt .porfolioListBlock .item .image img.loop {
    width: 58px !important;
    height: 58px !important;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto auto !important;
}

.page-left.page100pt .porfolioListBlock .item .image img.loop.loop1 {
    display: none;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView:hover {
    background: none;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView:hover .original {
    display: none;
}

.page-left.page100pt .porfolioListBlock .item .image .zoomOver1 .iconView:hover .loop1 {
    display: block;
}

.page-left.page100pt .porfolioListBlock .item .phone_img {
    position: absolute;
    bottom: -10px;
    right: 4%;
    background: url(img/phone_bg.png) no-repeat left top;
    width: 77px;
    height: 136px;
    z-index: 999;
    padding: 9px 0 0 3px;
}

.page-left.page100pt .porfolioListBlock .item .phone_img > img {
    width: 70.5px;
    height: 110px;
    overflow: hidden;
    border: 1px solid #eee;
}

.page-left.page100pt .porfolioListBlock .item .phone_img img {
    width: 70px;
    height: 110px;
}

.page-left.page100pt .porfolioListBlock .item .phone_img:hover .zoomover2 {
    display: block;
}

.porfolioListBlock .item .phone_img .zoomover2 {
    width: 70px;
    height: 110px;
    background: url(img/detail2.png) repeat;
    position: absolute;
    top: 10px;
    left: 3px;
    display: none;
}

.porfolioListBlock .item .phone_img .zoomover2 a {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 41px;
    margin-left: 21px;
}

.porfolioListBlock .item .phone_img .zoomover2 a img {
    width: 30px !important;
    height: 30px !important;
}

.porfolioListBlock .item .phone_img .zoomover2 a:hover img.original {
    display: none;
}

.porfolioListBlock .item .phone_img .zoomover2 a img.loop1 {
    display: none;
}

.porfolioListBlock .item .phone_img .zoomover2 a:hover img.loop1 {
    display: block;
}

.hidden {
    display: none !important;
}

.contentheader {
    display: block;
    float: left;
    width: 100%;
}

.tabs {
    margin-left: 0;
}

.tabs a, .tabs .bttabs {
    background: none;
    padding-left: 0;
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    color: #f58322;
}

.tabs_container {
    border: none;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
}

.tabs_container.tabs2 {
    padding: 14px 0px 0px 0px !important;
    float: left;
    margin: 0px 0px 15px 0px !important;
}

@media screen and (min-width: 768px) {
    .tabs_container span label {
        font-weight: normal;
        color: #333;
        font-size: 13px;
    }

    .tabs4.tabs_container span label {
        font-weight: normal;
        color: #333;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .tabs_container span label {
        font-weight: normal;
        color: #333;
        font-size: 15px;
    }
}

.tabs_container.tabs4 {
    padding: 10px 0 !important;
    float: left;
    margin: 0 !important;
}

.tabBlock1 {
    display: none;
}

.detail_right1 .description {
    font-size: 13px;
}

.contentheader.tabs3 {
    margin-top: 10px;
}

.item-box {
    float: left;
    height: 275px;
    width: 90%;

}

.item-box > p {
    background: url(img/thumbnail-transparent-3.png) no-repeat left 0 top;
    height: 23px;
    width: 100%;
    background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    -webkit-background-size: 100% 100% !important;
    padding-bottom: 1px;
}

.item-box > p > a {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 23px;
    padding-left: 60px;
    cursor: pointer;
    color: #242424;
    font-size: 13px;
}

@media screen and (min-width: 1200px) {
    .porfolioContent {
    }

    .porfolioContent .detail_top {
    }

    .porfolioContent .detail_top .detail_top_left {
    }

    .porfolioContent .detail_top .detail_top_right {
    }

    .porfolioContent .detail_left {
    }

    .porfolioContent .detail_right1 {
    }

    .porfolioContent .detail_right1 .phimtat {
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .porfolioContent {
    }

    .porfolioContent .detail_top {
    }

    .porfolioContent .detail_top .detail_top_left {
    }

    .porfolioContent .detail_top .detail_top_right {
    }

    .porfolioContent .detail_left {
    }

    .porfolioContent .detail_right1 {
    }

    .porfolioContent .detail_right1 .phimtat {
    }
}

@media screen and (min-width: 921px) and (max-width: 1023px) {
    .porfolioContent {
    }

    .porfolioContent .detail_top {
    }

    .porfolioContent .detail_top .detail_top_left {
    }

    .porfolioContent .detail_top .detail_top_right {
    }

    .porfolioContent .detail_left {
    }

    .porfolioContent .detail_right {
    }

    .porfolioContent .detail_right1 {
    }

    .porfolioContent .detail_right1 .phimtat {
    }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
    .slider {
        width: 100% !important;
    }

    .slider .porfolioBound {
        width: 100% !important;
    }

    .porfolioContent {
        width: 95% !important;
        margin: 0 auto;
    }

    .profolioDetail {
        width: 100% !important;
        padding: 1% 1% !important;
        min-height: 400px !important;
    }

    .porfolioContent .detail_top {
        width: 100% !important;
    }

    .porfolioContent .detail_top .detail_top_left {
        width: 20.5% !important;
        background-size: 100% auto !important;
        -moz-background-size: 100% auto !important;
        -webkit-background-size: 100% auto !important;
    }

    .porfolioContent .detail_top .detail_top_right {
        width: 77.5% !important;
        margin-left: 2%;
        background-size: 100% auto !important;
        -moz-background-size: 100% auto !important;
        -webkit-background-size: 100% auto !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .porfolioContent .detail_left {
        width: 20% !important;
    }

    .profolioDetail .detail_left .list {
        width: 100% !important;
    }

    .porfolioDetail .imagearr {
        width: 100% !important;
    }

    .profolioDetail .detail_left .item {
        width: 100% !important;
    }

    .porfolioContent .detail_right {
        width: 78% !important;
        margin-left: 2%;
    }

    .porfolioContent .detail_right1 {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 20px;
    }

    .porfolioContent .detail_right1 .like_box {
        height: 30px;
        width: 175px;
        margin-top: 30px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .porfolioContent .detail_right1 .phimtat {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .slider {
        width: 100% !important;
    }

    .slider .porfolioBound {
        width: 100% !important;
    }

    .porfolioContent {
        width: 95% !important;
        margin: 0 auto;
    }

    .profolioDetail {
        width: 100% !important;
        padding: 1% 1% !important;
        min-height: 400px !important;
    }

    .porfolioContent .detail_top {
        width: 100% !important;
    }

    .porfolioContent .detail_top .detail_top_left {
        width: 0% !important;
        background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
        visibility: hidden;
        display: none;
    }

    .porfolioContent .detail_top .detail_top_right {
        font-size: 14px;
        line-height: 30px;
        width: 98% !important;
        margin-left: 2%;
        background-size: 100% auto !important;
        -moz-background-size: 100% auto !important;
        -webkit-background-size: 100% auto !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .porfolioContent .detail_left {
        width: 100% !important;
    }

    .profolioDetail .detail_left .list {
        width: 100% !important;
    }

    .porfolioDetail .imagearr {
        width: 100% !important;
    }

    .profolioDetail .detail_left .item {
        width: 100% !important;
    }

    .porfolioContent .detail_right, .porfolioContent .detail_right1 {
        width: 0% !important;
        display: none;
        visibility: hidden;
    }

    .porfolioContent .detail_right1 .phimtat {
        display: none !important;
    }

    .profolioDetail .detail_left .item {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .profolioDetail .detail_left .item img, .profolioDetail .detail_left .item a {
        opacity: 1;
        width: 100% !important;
        display: block !important;
    }

    .profolioDetail .detail_left .item a {
        height: 100% !important;
    }

    .profolioDetail .detail_left .item a img {
        height: auto !important;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        width: 100% !important;
    }

    .slider .porfolioBound {
        width: 100% !important;
    }

    .porfolioContent {
        width: 95% !important;
        margin: 0 auto;
    }

    .profolioDetail {
        width: 100% !important;
        padding: 1% 1% !important;
        min-height: 400px !important;
    }

    .porfolioContent .detail_top {
        width: 100% !important;
    }

    .porfolioContent .detail_top .detail_top_left {
        width: 40.5% !important;
        background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
    }

    .porfolioContent .detail_top .detail_top_right {
        display: none !important;
        background: none !important;
        font-size: 14px;
        line-height: 30px;
        width: 77.5% !important;
        margin-left: 2%;
        background-size: 100% auto !important;
        -moz-background-size: 100% auto !important;
        -webkit-background-size: 100% auto !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .porfolioContent .detail_left {
        width: 100% !important;
    }

    .profolioDetail .detail_left .list {
        width: 100% !important;
    }

    .porfolioDetail .imagearr {
        width: 100% !important;
    }

    .profolioDetail .detail_left .item {
        width: 100% !important;
    }

    .porfolioContent .detail_right, .porfolioContent .detail_right1 {
        width: 0% !important;
        display: none;
        visibility: hidden;
    }

    .porfolioContent .detail_right1 .phimtat {
        display: none !important;
    }

    .profolioDetail .detail_left .item {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .profolioDetail .detail_left .item img, .profolioDetail .detail_left .item a {
        width: 100% !important;
        display: block !important;
        opacity: 1;
    }

    .profolioDetail .detail_left .item a {
        height: 100% !important;
    }

    .profolioDetail .detail_left .item a img {
        height: auto !important;
    }

    .item-box > p {
        display: none !important;
    }
}

.porfolioContent .detail_right1 .description {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    text-align: left !important;
}

.porfolioContent .detail_right1 .btlinklike {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.porfolioContent .detail_right1 .phimtat {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    position: relative;
}

.detail_top_left .btn-ic-pc {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    width: 29px;
    height: 24px;
    line-height: 25px;
    position: absolute;
    top: 7px;
    left: 92px;
}

.detail_top_left .btn-ic-mobile {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    width: 26px;
    line-height: 25px;
    position: absolute;
    right: 16px;
    top: 6px;
}

/*Nut button mobile desktop*/
.detail_top_left .btn-ic-pc {
    background: url('img/ic_pc.png') no-repeat;
}

.detail_top_left .btn-ic-mobile {
    background: url('img/ic_mobile.png') no-repeat;
}

.detail_top_left .btn-ic-pc.ic-active {
    background: url('img/ic_pc_active.png') no-repeat;
}

.detail_top_left .btn-ic-mobile.ic-active {
    background: url('img/ic_mobile_active.png') no-repeat;
}

@media screen and (max-width: 767px) {
    .profolioDetail .detail_left .item {
        height: auto !important;
        margin-bottom: 10px !important;
        width: 100% !important;
        opacity: 1;
    }

    .profolioDetail .detail_left .item img {
        height: auto !important;
        margin-bottom: 10px !important;
        width: 100% !important;
        opacity: 1;
    }

    .detail_top_left .btn-ic-pc {
        left: 73px !important;
    }
}

@media screen and (max-width: 767px) {
    .porfolioNavigator {
        display: none !important;
    }

    .page-left.page100pt .porfolioListBlock .item .phone_img {
        /*display:none !important;*/
        position: absolute;
        bottom: 0px;
        right: 0;
    }

    .page-left.page100pt .porfolioListBlock .item .phone_img img {
        width: 97% !important;
    }

    .item-box {
        float: left;
        height: auto;
        width: 100%;
    }

    .porfolioListBlock .item .phone_img .zoomover2 {
        width: 92% !important;
        display: block !important;
        background: none !important;
    }

    .porfolioListBlock .item .phone_img .zoomover2 .loop {
        display: none !important;
    }

    .porfolioListBlock .item .phone_img .zoomover2 .loop.loop1 {
        display: block !important;
    }
}

/*Chinh man hinh hien thi chi tiet du an*/
.close-mobile {
    background: url('icon/btClose.png') no-repeat center center;
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 11px;
    top: 9px;
    z-index: 99999;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .close-mobile {
        display: none !important;
        visibility: hidden;
    }

    .div.wraptocenter {
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .close-mobile {
        display: block !important;
        visibility: visible;
    }

    .div.wraptocenter {
        height: auto;
        position: relative;
        width: 100% !important;
    }

    .porfolioDetail .imagearr .item a {
        opacity: 1 !important;
        -moz-opacity: 1 !important;
        opacity: 1 !important;
        filter: alpha(opacity=100);
    }
}

/*.duanhot .pro-hot{margin-top:20px;}*/
.pro-hot div.porfolioListBlock .list .row {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

/*------------------------ video detail ----------------------*/
/**Khung popup tối*/
#fadePopupVideo {
    display: none;
    position: fixed;
    top: 0px;
    left: 0%;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999999;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80)
}

/*Khung popup sáng*/
#lightPopupVideo {
    position: fixed;
    display: none;
    top: 25px;
    z-index: 9999999999;
    width: 100%;
    left: 0;
}

#VideoFrame2 img {
    width: 100% !important;
    height: 100% !important;
}

.XemWebSite-xs {
    width: 100%;
    height: 25px;
    line-height: 25px;
    position: fixed;
    top: 0;
    background: #e36c09;
}

.XemWebSite-xs a {
    color: #fff;
    width: 100%;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
}

#VideoFrame2 {
    position: relative;
    background: url(img/bgpopupvideo.png) repeat;
    padding: 6px;
    border: solid 1px #d4d4d4;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto
}

#lightPopupVideo a.btclose {
    width: 28px;
    height: 28px;
    background: url(img/btClose.png) no-repeat;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2
}

#VideoPlayerTitle2 {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 20px;
    font: normal 12px/20px Arial;
    color: #fff;
    text-transform: uppercase;
    display: none
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    #VideoFrame2 {
        width: 100%
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    #VideoFrame2 {
        width: 100%
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
    #VideoFrame2 {
        width: 100%
    }
}

@media screen and (min-width: 561px) and (max-width: 767px) {
    #VideoFrame2 {
        width: 100%
    }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
}

@media screen and (min-width: 921px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) {
    #lightPopupVideo, #fadePopupVideo {
        display: none !important;
        visibility: hidden !important;
    }
}

@media screen and (max-width: 767px) {
    .porfolioBackground, .pbackground {
        display: none !important;
        visibility: hidden !important;
    }
}

#idFilterProject {
    width: 100%;
    float: left;
}

#IdOcProject {
    width: 100%;
    float: left;
    height: 16px;
    margin: 20px 0px;
    position: relative;
    background: url('img/bg_open.png') no-repeat center top;
}

#idOpenClose {
    display: block;
    position: relative;
    margin: -15px auto 0px auto !important;
    width: 36px;
    height: 18px;
    cursor: pointer;
    background: url('img/bg_open1.png') no-repeat center top;
}

.openRotate180deg {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
    #idFilterProject {
        display: none;
    }
}

.porfolioBackground .detail_top_right .goto {
    display: inline-block;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 4px;
    top: 20px;
}

@media screen and (min-width: 1200px) {
    .profolioDetail .detail_right img {
        width: 550px !important;
    }

    .profolioDetail .detail_right {
        width: 552px !important;
    }

    .profolioDetail {
        width: 943px;
    }

    .porfolioContent {
        width: 943px;
    }

    .porfolioBound {
        width: 940px;
    }

    .detail_top_right {
        width: 766px;
    }

    .detail_top_right {
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
    }
}

.detail_right img {
    position: absolute;
    left: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
    top: 0px;
    max-width: 100%;
    height: auto;
    position: absolute;
}

.profolioDetail .detail_right img {
    display: block !important;
}

.profolioDetail #img0 {
    margin-top: 0px !important;
}

/*Then 2 vung xem bao gia va xem website*/
.btn_more.red {
    margin: 0;
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.btn_more.red {
    border: 2px solid #e36c09;
}

.btn_more.red a {
    color: #e36c09;
}

.btn_more {
    font-size: 16px;
}

.btn_more.red:hover a {
    color: #fff;
}

.btn_more.red a:hover {
    color: #fff;
}

.btn_more.red .width-red {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 7px !important;
    background: #e36c09;
    z-index: 999;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.btn_more.red:hover .width-red {
    width: 100% !important;
}

.btn_more.red:hover a {
    color: #fff;
    z-index: 9999;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}